html{
    background-color: rgb(48, 45, 45);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:  10px;
}
button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 20px;
    background-color:rgba(239, 236, 236, 0.482);
    color: white;
}
footer{
    margin-bottom: 150px;
}